/example/mySketch/.vs/mySketch/v15/.suo
example/mySketch/.vs
/example/mySketch/bin/FreeImage.dll
/example/mySketch/bin/data/.gitkeep
/example/mySketch/bin/fmodex64.dll
/example/mySketch/bin/fmodexL64.dll
/example/mySketch/bin/mySketch.exe
/example/mySketch/bin/mySketch.exp
/example/mySketch/bin/mySketch.lib
/example/mySketch/bin/mySketch_debug.exe
/example/mySketch/bin/mySketch_debug.exp
/example/mySketch/bin/mySketch_debug.ilk
/example/mySketch/bin/mySketch_debug.lib
/example/mySketch/bin/mySketch_debug.pdb
/example/mySketch/icon.rc
example/mySketch/obj
/example/mySketch/mySketch.sln
/example/mySketch/mySketch.vcxproj
/example/mySketch/mySketch.vcxproj.filters
/example/mySketch/mySketch.vcxproj.user